body {
    color: rgb(0, 0, 0);
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular',Geneva, Verdana, sans-serif;
}

p {
    margin-left: 2rem;
    margin-right: 2rem;
    border: 10px solid rgb(24, 100, 68);
    padding: 1rem;
    background-color: rgb(112, 160, 130);
}